<div class="row">
  <div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Discover Events</h3>
      <h4>Discover and get tickets for your favorite events right here.</h4>
    </div>
    <% @events.each do |event| %>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-3">
            <div class="thumbnail">
              <%= link_to image_tag(event.image.url), event, class: "img-responsive" %>
            </div>
          </div>
          <div class="col-md-9">
            <h4><%= link_to event.name, event %></h4>
            <p>
              <%= event.venue %> <br>
              <%= event.start_date.to_formatted_s(:long) %> <br>
              <%= "Organized by #{event.organizer}" %>
            </p>
            <p>
              <%#= link_to 'Show', event %> 
              <% if user_signed_in? && current_user == event.user %> 
                <%= link_to 'Edit', edit_event_path(event) %> | 
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </p>
          </div>
      </div>
    </div>
    <hr>
  <% end %>
  </div>
</div>
  <div class="col-md-2 col-md-offset-1">
    <h2>Events</h2>
    <ul class="nav nav-pills">
      <li class="active"><a href="">Professional</a></li>
      <li><a href="">Conferences</a></li>
      <li><a href="">Workshop</a></li>
      <li><a href="">Seminar</a></li>
    </ul>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
