<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8">
    <div class="thumbnail">
      <h2><%= @event.name %></h2>
      <%= image_tag @event.image.url(), class: "img-responsive" %>    
      <div class="caption">
        <h3><%= "Starts: #{@event.start_date.to_formatted_s(:long)}" %></h3>
        <h4><%= "Ends: #{@event.end_date.to_formatted_s(:long)}" %></h4>
        <h4><%= "Price: #{number_to_currency(@event.price)}" %></h4>
        <h4>Description:</h4>
        <p><%= @event.description %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Organizer, Contact &amp; Venue</h3>
      </div>
      <div class="panel-body">
        <h2><%= @event.organizer %></h2>
        <h4><%= @event.phone %></h4>
        <h4><%= @event.venue %></h4>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-link" %> |
<%= link_to 'Back', events_path, class: "btn btn-link" %>