<p id="notice"><%= notice %></p>
<div class="row well">
  <div class="col-md-2">
    <h4><%= @event.organizer %></h4>
    <h4><%= @event.phone %></h4>
    <h4><%= @event.venue %></h4>
  </div>
  <div class="col-md-10">
    <h2><%= @event.name %></h2>
    <h3>Image willbe here</h3>
    <h3><%= "Starts : #{@event.start_date}" %></h3>
    <h4><%= "Ends : #{@event.end_date}" %></h4>
    <h4><%= @event.price %></h4>
    <p><%= @event.description %></p>
  </div>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>